* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 10px;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contgrid{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px;
}

.contgrid > .producto{
	text-align:center;
	width: 300px;
	height: 500px;
	border:solid 2px #000;
	overflow: hidden;
	border-radius: 20px;
	margin-left: 50px;
	margin-bottom: 50px;
}

.contgrid > .producto > .imgCont{
	position: relative;
	width: 300px;
	height: 200px;
	overflow: hidden;
	border-bottom: solid 2px #000;
}

.contgrid > .producto > .imgCont > img{
	height: 250px;
	width: 250px;
	object-fit: contain;
	margin-top: 1px;
	margin-bottom: 300px;
}

.contgrid > .producto > .contenido2{
	width: 270px;
}

.contgrid > .producto > .contenido2 > p{
	margin-top: 57px;
	font-size:17pt;
	
}
.contgrid > .producto > .contenido > h2:hover {
	-webkit-transform:scale(2.7);transform:scale(1.1);
}

.contgrid > .producto > .contenido2 > button{
	margin-top: 5px;
	cursor: pointer;
	padding: 5px;
	background-color: aquamarine;
	border: solid 3px rgb(0, 120, 189);
}

.carrito{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

table{
	border: solid 2px #000;
}

table tr td .tt {
	width: 140px;
	text-align: center;
}
.contgrid > .producto > .imgCont > img:hover {
	-webkit-transform:scale(2.7);transform:scale(1.6);
}

h2{
	font-size:15px;
	margin: 15px ;
}

